* {
    box-sizing: border-box;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    border-radius: 10px;
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.game-container {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin-top: 10px;
}
